.final {
  text-align: center;

  @include absolute('.final__circle', 200px, 200px, 40px, -17px);

  &__cursive {
    @include cursive();

    &_2 {
      @include desktop(
        (
          'margin-top': 50px,
        )
      );
    }
  }

  &__title {
    @include title();

    @include desktop(
      (
        'margin-top': 250px,
      )
    );
  }

  &__button {
    @include desktop(
      (
        'display': flex,
        'align-items': center,
        'justify-content': center,

        'height': 50px,
        'margin-top': 10px,

        'background': get-theme-color('primary'),
        'border-radius': 50px,

        'text-transform': uppercase,
        'text-align': center,
        'color': #fff,
      )
    );

    &:first-child {
      background: get-theme-color('avocado');
      color: get-theme-color('bg');
    }
  }

  &__logo {
    @include desktop(
      (
        'margin-top': 40px,

        'width': 40px,
        'height': 25px,

        'fill': #fff,
      )
    );
  }
}
