.rates {
  $card-item-margin: 20px;

  &__row {
    @include row-flex;

    @include mobile(
      (
        'margin-top': -20px,
      )
    );
  }

  &__card {
    @include col;
    @include size(3);

    @include mobile(
      (
        'margin-top': 20px,
        'padding': 20px,

        'border-width': 1px,
        'border-style': solid,
        'border-radius': $card-radius,
      )
    );

    @include absolute('.__label', -2px, 212px);

    .__label {
      @include mobile(
        (
          'width': 28px,
        )
      );
    }

    &_secondary {
      border-color: get-theme-color('secondary');

      .rates__card-button {
        background: get-theme-color('secondary');
      }
    }

    &_primary {
      border-color: get-theme-color('primary');
    }

    &_gold {
      border-color: get-theme-color('gold');
    }

    &_diamond {
      border-color: get-theme-color('diamond');

      .__label {
        @include mobile(
          (
            'width': 42px,

            'top': -15px,
            'left': 205px,
          )
        );
      }
    }
  }

  &__card-name {
    @include title(22px);
  }

  &__card-counts {
    @include absolute('img', 0, 0);
    @include title(12);

    @include mobile(
      (
        'position': relative,

        'margin-top': $card-item-margin,
        'margin-left': -20px,
        'padding-left': 20px,

        'height': 24px,
        'line-height': 24px,
        'color': get-theme-color('default'),
      )
    );

    img {
      @include mobile(
        (
          'height': 100%,
        )
      );
    }
  }

  &__card-item {
    @include mobile(
      (
        'position': relative,

        'margin-top': $card-item-margin,
        'padding-left': 26px,

        'font-size': 10px,
      )
    );

    & > svg {
      @include mobile(
        (
          '
          position': absolute,

          'top': -2px,
          'left': 0,
          'width': 16px,
          'height': 16px,
        )
      );
    }

    .__personal {
      @include mobile(
        (
          'font-style': italic,
        )
      );

      &__who {
        span {
          text-transform: uppercase;
        }
      }

      &__position {
        @include mobile(
          (
            'margin-top': 4px,

            'font-size': 8px,
          )
        );
      }
    }

    .__block {
      &:before {
        @include mobile(
          (
            'content': 'Блок ',
            'text-transform': uppercase,
          )
        );
      }
    }

    .__lecture {
      &:before {
        @include mobile(
          (
            'content': 'Лекция ',
            'text-transform': uppercase,
          )
        );
      }

      &__speaker {
        @include mobile(
          (
            'margin-top': 4px,

            'font-size': 8px,
          )
        );
      }
    }

    .__program {
      $color: get-theme-color('secondary');

      @include mobile(
        (
          'margin-top': 8px,
        )
      );

      &__toggler {
        @include absolute('svg', 4px, 0);

        @include mobile(
          (
            'padding-left': 11px,

            'color': $color,
          )
        );

        span {
          @include mobile(
            (
              'border-bottom': 1px solid $color,
            )
          );
        }

        svg {
          @include mobile(
            (
              'width': 7px,
              'height': 4px,

              'fill': $color,
            )
          );
        }
      }

      &__title {
        @include mobile(
          (
            'margin-top': 12px,

            'text-transform': uppercase,
            'color': get-theme-color('secondary'),
          )
        );
      }

      &__list {
        @include mobile(
          (
            'margin-top': 8px,
          )
        );
      }

      &__item {
        @include mobile(
          (
            'position': relative,

            'margin-top': 4px,
            'padding-left': 10px,
          )
        );

        &:before {
          @include mobile(
            (
              'position': absolute,
              'content': '',

              'top': 5px,
              'left': 0,

              'width': 4px,
              'height': 4px,

              'background': get-theme-color('white'),
              'border-radius': 50%,

              'opacity': 0.4,
            )
          );
        }
      }
    }

    .__access {
      @include mobile(
        (
          'color': get-theme-color('secondary'),
          'font-style': italic,
        )
      );
    }

    svg._avocado {
      fill: get-theme-color('avocado');
    }

    svg._gold {
      fill: get-theme-color('gold');
    }

    svg._secondary {
      fill: get-theme-color('secondary');
    }

    svg._white {
      fill: get-theme-color('white');
    }
  }

  &__card-price {
    @include mobile(
      (
        'display': flex,
        'align-items': flex-end,
        'justify-content': flex-end,

        'margin-top': $card-item-margin,
        'padding-top': $card-item-margin,

        'border-top': 1px solid rgba(255, 255, 255, 0.1),
      )
    );

    .__current {
      @include mobile(
        (
          'margin-left': 12px,

          'font-size': 18px,
        )
      );
    }

    .__old {
      @include mobile(
        (
          'position': relative,
          'bottom': 2px,

          'font-size': 12px,
        )
      );

      &:before {
        @include mobile(
          (
            'position': absolute,
            'content': '',

            'top': 50%,
            'left': -1px,
            'right': -1px,

            'height': 1px,

            'background': get-theme-color('avocado'),
          )
        );
      }
    }
  }

  &__card-buttons {
    @include mobile(
      (
        'margin-top': 5px,
      )
    );
  }

  &__card-button {
    @include mobile(
      (
        'margin-top': 5px,
        'width': 100%,
      )
    );
  }
}
