// breakpoints
$grid-breakpoints: (
  'lg': $break_lg,
  'xl': $break_xl,
);

$theme-fonts: (
  'default': (
    'geometria',
    sans-serif,
  ),
  'text': (
    'montserrat',
    sans-serif,
  ),
  'cursive': (
    'pynion',
    serif,
  ),
  'title': (
    'ttdrugs',
    sans-serif,
  ),
);

$theme-colors: (
  'default': #171b1a,
  'white': #fff,

  'bg': #163029,
  'card-bg': #f8f3f1,

  'warning': #892a35,
  'avocado': #c8d750,
  'primary': #095540,
  'secondary': #6fa089,
  'gold': #d8c58d,
  'diamond': #e7e0e6,
);

$theme-gradients: (
  'primary': linear-gradient(98.14deg, #7acd47 7.55%, #67b437 89.96%),
);

$border-radius: 6px;
$card-radius: 20px;
$card-shadow: 0px 15px 45px rgba(0, 0, 0, 0.05);
$transition-time: 0.3s;
