// breakpoints
$grid-breakpoints: (
  'lg': $break_lg,
  'xs': $break_xs,
);

$theme-fonts: (
  'default': (
    'geometria',
    sans-serif,
  ),
  'text': (
    'montserrat',
    sans-serif,
  ),
  'cursive': (
    'pynion',
    serif,
  ),
  'title': (
    'ttdrugs',
    sans-serif,
  ),
);

$theme-colors: (
  'default': #1c1f1e,
  'avocado': #c8d750,
  'primary': #095540,
  'secondary': #6fa089,
  'gold': #d8c58d,
  'diamond': #e7e0e6,
  'bg': #163029,
);

$theme-gradients: (
  'primary': linear-gradient(98.14deg, #7acd47 7.55%, #67b437 89.96%),
);

$border-radius: 6px;
$box-shadow: 0px 15px 45px rgba(118, 115, 115, 0.14);
$inset-shadow: inset 0px -2px 6px rgba(255, 255, 255, 0.35),
  inset 0px 15px 55px rgba(255, 255, 255, 0.25);
$transition-time: 0.3s;
